.mainWrapper{
   margin: 4vh 14vw 0 14vw;
    display: grid;
    grid-gap: 0;
    // grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 19rem;
    // grid-column-gap: 7rem;
}
.footer{
    display: flex;
    justify-content: center;
    height: 5rem;
}