.wrapper{
    height: 400px;
    display: flex;
    position: relative;
    border: 1px solid #ddd;
    flex-direction: column;

    h2{
        text-transform: uppercase;
    }
}

.image{
    

    &__wrapper{
    box-sizing: border-box;
    width: 262px;
    height: 240px;
    object-fit: cover;
    // border: 1px solid #ddd;
    background-color: #f3ece0;
    }
}

.text{
    padding-left: 10px;
}

