.wrapper{
    padding: 50px 30px;
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #ddd;

    h2{
        color: #1e58ff;
    }
}

.image{
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 20px 50px;
}