.header{
    // position: absolute;
    width: 100vw;
    height: 6rem;
    background: #0C0B0B;
    padding: 0 14vw; 
    display: flex;
    justify-content: start;
    
    .logo1{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 15px;
        color: #1E58FF;
    }

}

