.header{
    width: 100vw;
    height: 6rem;
    background: #0C0B0B;
    padding: 0 14vw; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    .logo{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 15px;
        color: #47CCDE;
    }

}

@media (min-width: 600px) and (max-width: 1024px) {
    .header {

    flex-direction: column;
    height: 8rem;
    padding: 1rem 7rem;
    align-items: start;
  }
  .logo{
      padding: 0.5rem 0;
      font-size: 1.5rem;
      margin: 0;
  }
  
}

@media only screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    height: 8rem;
    padding: 1rem 7rem;
    align-items: start;
  }

  .logo{
      padding: 0.5rem 0;
      font-size: 1.5rem;
      margin: 0;
  }
}

